<design-system-title title="Todo App" size="xl" />

<hr />
<br />
<br />

<design-system-title title="Add Todo" size="lg" />
<br />

<design-system-input
  label="Title"
  placeholder="Enter title"
  id="title"
  [(value)]="title"
/>

<design-system-input
  label="Description"
  placeholder="Enter description"
  id="description"
  [(value)]="description"
/>

<br />
<br />

<design-system-button label="Add Todo" (click)="addTodo()" [disabled]="!title || !description" />

<hr />
<br />

<design-system-title title="Your Todos" size="lg" />

<ul>
  <ng-container *ngFor="let todo of todosSignal()">
    <li>
      <b>{{ todo.title }}</b
      >. {{ todo.description }}
    </li>
  </ng-container>
</ul>
